 .updated{
     font-size: medium;
     color:#aaa;
}
 .article{
     background-color:#fff;
     padding:10px;
     border-bottom:1px solid #ccc;
}
 .storyFooter{
     border-top:2px solid #eef;
     padding: 5px;
     padding-top: 7px;
}
 .storyImage{
     width:25%;
}
 .storyName{
     font-size: larger;
     font-weight: bold;
}
 .storyInfo{
     font-style: italic;
     font-size: small;
     color:#0d3d89;
}
 .navbar {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
}
 .storyTitle{
     font-weight:bold;
}
 .img-fluid {
     max-width: 100%;
     height: auto;
     margin-top: 20px;
     margin-bottom: 10px;
}
 i.fa {
     vertical-align: middle !important;
}
 .fa-right{
     padding-left: 2px;
}
 .fa-left{
     padding-right: 2px;
}
 .navbar {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
}
 .navbar-brand {
     color:#fff !important;
     font-size:x-large;
}
 .modal{
     text-align: left !important;
}
 .modal-title{
     font-size:x-large;
}
 .modal-body{
     padding-top: 0px;
}
 .panel{
     margin-top: 15px;
}
 .footer a{
     color:#fff;
}

/******************************************************************
********** Below is pre-populated from Yeoman scaffold ************
*******************************************************************/
.browsehappy {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
}
 body {
     padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
     padding-left: 15px;
     padding-right: 15px;
     background-color: #0d3d89;
     color: #fff !important;
}
/* Custom page header */
 .header {
     border-bottom: 1px solid #e5e5e5;
     margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
     margin-top: 0;
     margin-bottom: 0;
     line-height: 40px;
     padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
     padding-top: 19px;
     color: #777;
     border-top: 1px solid #e5e5e5;
}
 .container-narrow > hr {
     margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
     text-align: center;
     border-bottom: 1px solid #e5e5e5;
}
 .jumbotron .btn {
     font-size: 21px;
     padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
     margin: 40px 0;
}
 .marketing p + h4 {
     margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 868px) {
     .container {
         max-width: 830px;
    }
    /* Remove the padding we set earlier */
     .header, .marketing, .footer {
         padding-left: 0;
         padding-right: 0;
    }
    /* Space out the masthead */
     .header {
         margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
     .jumbotron {
         border-bottom: 0;
    }
}